html
  head
    link(rel="stylesheet" type="text/css" href="/styles/style.css")
    title
  body
    h1
      | Product Finder
    form(action='/search', method='POST', class= "classform")
      input(type="text", id="products", name="products", placeholder= "ENTER YOUR PRODUCT", class= "textbox")
      input(type="submit", value="SEARCH", class= "submitbutton")